{# load the tag library #}
{% load bootstrap4 %}

{# load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.crontrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h2>提交简历</h2>

{# enctype 指定数据传输的编码格式 #}
<form method="post" class="form" enctype="multipart/form-data" style="width:600px;margin-left:5px">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button stype="submit" class="btn btn-primary">
        提交
    </button>
    {% endbuttons %}
</form>